#dashboard {
	-fx-background-color: #505050;
}

#addressField {
	-fx-background-color: #6e6e6e;
	-fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #707070;
}

.combo-box .list-cell {
    -fx-background-color: #707070;
	-fx-pref-height: 39px;
    -fx-font-size: 15px;
    -fx-text-fill: #d4d4d4;
    -fx-padding: 0 0 0 10px;
}

.combo-box .list-cell:hover {
	-fx-background-color: orangered;
	-fx-text-fill: white;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: white;
}

.combo-box .list-view {
    -fx-background-color: transparent;
}

#sendButton {
	-fx-background-color: #c45015;
}

#responseDetails {
    -fx-background-color: #1b1b1b;
}

#clearResponseAreaButton {
    -fx-background-color: #454545;
}

.text-area {
    -fx-font-family: "Liberation Mono";
    -fx-text-fill: #a1a1a1;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.text-area .content {
    -fx-background-radius: 0;
    -fx-background-color: #2a2a2a;
}

#loadingLayer {
    -fx-background-color: #bf8829;
}

#promptLayer {
    -fx-background-color: #273154;
}

#errorLayer {
    -fx-background-color: #822f2f;
}

#cancelButton {
    -fx-background-color: black;
}

/* Home window tab */
#homeWindowTabPane:top .tab-header-area .headers-region .tab:top .tab-container .tab-close-button {
    -fx-background-color: white;
}

#homeWindowTabPane:top .tab-header-area .headers-region .tab:hover:top {
    -fx-background-color: orangered;
}

#homeWindowTabPane:top .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: #505050;
}

.tab-pane:top .tab-header-area {
    -fx-padding: 0;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #6a6a6a;
}

.tab-pane .tab-content-area,
#headerTabContent,
#headerField,
#headersBox,
.scroll-pane,
.scroll-pane .viewport,
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #3d3d3d;
    -fx-background-insets: 0px;
}

/* Tab attributes */
.tab {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane:top .tab-header-area .headers-region .tab:top {
    -fx-background-color: #6a6a6a;
}

/* Tab titles */
.tab-pane:top .tab-header-area .headers-region .tab:top .tab-container .tab-label .text {
    -fx-fill: white;
}

/* Request options (Headers, Authorization, etc) tab */
#requestOptionsTab .tab-header-area .headers-region .tab:hover:top {
    -fx-background-color: #55a15c;
}

#requestOptionsTab .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: #3d3d3d;
}

/* Body tab pane */
#bodyTabPane:top .tab-header-area .tab-header-background,
#bodyTabPane:top .tab-header-area .headers-region .tab:top {
    -fx-background-color: #545454;
}

#bodyTabPane .tab-content-area,
#bodyTabPane .scroll-pane .viewport {
    -fx-background-color: #3d3d3d;
}

#bodyTabPane:top .tab-header-area .headers-region .tab:hover:top {
    -fx-background-color: #4e848f;
}

#bodyTabPane:top .tab-header-area .headers-region .tab:selected:top {
    -fx-background-color: #3d3d3d;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #808080;
}

.split-pane {
    -fx-background-color: #505050;
    -fx-padding: 0px;
}

.split-pane .split-pane-divider {
    -fx-background-color: #505050;
}

.split-pane:horizontal .split-pane-divider {
    -fx-padding: 0px;
}

#keyField, #valueField, #filePathField {
    -fx-prompt-text-fill: #919191;
    -fx-background-color: #303030;
    -fx-text-fill: white;
}

#fileKeyField, #fileValueField {
    -fx-prompt-text-fill: #cdcdcd;
    -fx-background-color: #656565;
    -fx-text-fill: white;
}

#addHeaderButton, #newStringKVButton, #newParamButton {
    -fx-background-color: orangered;
}

#newFileKVButton, #appendParamsButton {
    -fx-background-color: #5d53b1;
}

#browseButton {
    -fx-background-color: #a2a2a2;
}

/* History tab */
#historyPane, #historyTab {
    -fx-background-color: #404040;
}

#historySearchField {
    -fx-background-color: #505050;
    -fx-text-fill: white;
}

/* History item */
#historyItemBox {
    -fx-background-color: #353535;
}

#historyItemBox:hover {
    -fx-background-color: #282828;
}

/* SnackBar */
.jfx-snackbar-content {
    -fx-background-color: black;
}

.jfx-snackbar-toast {
    -fx-text-fill: white;
    -fx-alignment: center;
}
