/target/
*.iml
.idea/
classes/
src/main/java/META-INF/
dependency-reduced-pom.xml

# Hides Eclipse Artifacts
.settings/
.classpath
.project

/BugReporter/src/META-INF/
BugReporter/src/META-INF/
Everest/
out/