.everest-code-area {
    -fx-background-color: #282828;
}

.everest-code-area .text {
    -fx-fill: azure;
    -fx-font-family: "Liberation Mono", monospace;
    -fx-font-size: 17px;
}

.everest-code-area .caret {
    -fx-stroke: white;
}

.json_curly {
    -fx-fill: coral !important;
}

.json_property {
    -fx-fill: orange !important;
    -fx-font-weight: bold;
}

.json_value {
    -fx-fill: cornflowerblue !important;
}

.json_array {
    -fx-fill: limegreen !important;
}

.json_bool {
    -fx-fill: crimson !important;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: greenyellow !important;
    -fx-font-weight: bold;
}
