/*General rules for EverestCodeArea*/

.everest-code-area {
    -fx-background-color: #282828;
}

.everest-code-area .text {
    -fx-fill: #ababab;
    -fx-font-family: "Liberation Mono", monospace;
    -fx-font-size: 17px;
}

.everest-code-area .caret {
    -fx-stroke: white;
}

.plain-text {
    -fx-fill: azure !important;
}

/*Common to JSON and XML*/

.xml_bracket,
.json_curly {
    -fx-fill: coral !important;
}

.xml_tag,
.json_property {
    -fx-fill: orange !important;
    -fx-font-weight: bold;
}

.xml_attribute_value,
.json_value {
    -fx-fill: cornflowerblue !important;
}

/*JSON-specific*/

.json_array {
    -fx-fill: limegreen !important;
}

.json_bool {
    -fx-fill: crimson !important;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: greenyellow !important;
    -fx-font-weight: bold;
}

/*XML-specific*/

.xml_attribute {
    -fx-fill: darkviolet !important;
}

.xml_comment {
    -fx-fill: teal !important;
}
