#sendButton {
	-fx-background-color: lightslategray;
}

#responseArea {
	-fx-font-family: 'Liberation Mono';
}

.jfx-snackbar-content {
    -fx-background-color: darkslategray;
}

.jfx-snackbar-toast {
    -fx-text-fill: lightgray;
    -fx-alignment: center;
}